<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="dbconn" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKKPI;uid=Sn0AvH6cos8wc8h1mcfNJw==;pwd=0L137pRGEx25J2PLcI4uOg==" />
    <add name="dbconnTKMK" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKMK;uid=Sn0AvH6cos8wc8h1mcfNJw==;pwd=0L137pRGEx25J2PLcI4uOg==" />
    <add name="dberp" providerName="System.Data.SqlClient" connectionString="server=192.168.1.105;database=TKKPI;uid=Sn0AvH6cos8wc8h1mcfNJw==;pwd=0L137pRGEx25J2PLcI4uOg==" />
    <add name="dbUOF" providerName="System.Data.SqlClient" connectionString="server=192.168.1.223;database=UOF;uid=VvM7eHgGf7TGQRudVuJwCA==;pwd=qtMgV07lYaqWBDsTuIjnEp7JVUlPAGZ5S0xHT5xQpgA=" />
  </connectionStrings>
  <appSettings>
    <add key="MySMTP" value="officemail.cloudmax.com.tw" />
    <add key="NAME" value="sysmailer@tkfood.com.tw" />
    <add key="PW" value="@@jy0437" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>